<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookie更新</title>
</head>
<body>
   <form action="/api/start" enctype='multipart/form-data' method='POST'>
       <input name="password" type="text" style="width:50%;height:20%" >
       <input type="submit" value="更新cookies" class="button-new" style="margin-top:20px;"/>
    </form>
<h>例子：RK=Vsy8ithjfh; ptcz=8bc1a40bc15e0d53d39d81b8de6115d6ecb36f4eea49ddc98d0b0ca4b7be80f1; pgv_pvid=3667776220; tvfe_boss_uuid=de8dd82d96927fe7; video_guid=9c38df16bce7d271; video_platform=2; pgv_info=ssid=s5030210097; pgv_si=s1475223552; _qpsvr_localtk=0.27603558073318957; LW_sid=j1R5g8S3Y7F4X6G9x6e0p131o0; LW_uid=W1v5u8y3b7P4u63976z00161C3; eas_sid=X1r5y8M397W476E9t6q091F272; pvpqqcomrouteLine=index; main_login=qq; vqq_access_token=6673DAA5026E7D8BC2B232AA264D1A6E; vqq_appid=101483052; vqq_openid=3CCE927A3673F220E0B5981B6B18DD46; vqq_vuserid=861511716; vqq_refresh_token=40E8E1FF1764B399E8A8E4C362658E36;</h>
</body>
</html>